{% extends 'core/base.html' %}

{% block content %}
{% load static %}
    <!-- Content -->
     <section id="profile">
        <div class="container">
             <div class="row profile">
                <div class="col-12 col-md-2 col-lg-2  text-center img">
                    {% if seller.avatar %}
                        <img src="{{seller.avatar.url}}" alt="" class="rounded-circle">
                    {% else %}
                        <img src="{% static 'core/img/no-avatar.jpg' %}" alt="" class="rounded-circle">
                    {% endif %}
                    <h4>@{{seller.user}}</h4>
                    <a href="#"><h6>{Platinum seller}</h6></a>
                </div>
                <div class="col-12 col-md-10 col-lg-10 ">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 text-center contact">
                                <h5>{{seller.user.first_name}} {{seller.user.last_name}}</h5>
                                <ul>
                                    <li><h6>{{seller.user.email}}</h6></li>
                                    {% if seller.phone_number %}
                                        <li><h6>{{seller.phone_number}}</h6></li>
                                    {% endif %}
                                    {% if seller.direction %}
                                        <li><h6>{{seller.direction}}</h6></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="title">{{seller.user.first_name}}'s Store</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="store">
                {% for product in product_list %}
                    {% if product.seller == seller %}
                        <div class="col-12 col-md-6 col-lg-3 card-per">
                            <div class="card shadow-sm border-0 px-2 py-3 mb-4">
                                <div class="text-center">
                                    <img src="{{product.image.url}}" alt="">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title product-title">{{product.title}}</h5>
                                    <p>{{product.description|truncatechars:60}}</p>
                                    <p class="price"><b>$ {{product.price}}</b></p>
                                    <a href="{% url 'product_detail' product.id product.title|slugify %}" class="btn btn-primary form-control">Buy</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
     </section>
{% endblock %}