{% extends 'core/base.html' %}

{% block content %}
{% load static %}
    <!-- Content -->
    <section  class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2><b>eCommerce</b> has come :)</h2>
                    <p>
                        Try out our platform and become a great seller!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container section-icons">
            <div class="row">

                <div class="col-12 col-md-12 col-lg-4 box-icons">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-arrow-up-right"></i>
                        <div class="ms-4">
                            <h3>Easy to use</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, ullam excepturi!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4 box-icons">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-arrow-up-right"></i>
                        <div class="ms-4">
                            <h3>For free</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, ullam excepturi!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4 box-icons">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-arrow-up-right"></i>
                        <div class="ms-4">
                            <h3>Wide market</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, ullam excepturi!
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}