{% extends 'core/base.html' %}

{% block content %}
    <!-- Content -->
    <section class="banner main-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>eCommerce has come :)</h2>
                    <p>
                        Try out our platform and become a great seller!
                    </p>
                    <div>
                        <img src="#" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-icons">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-12 col-lg-4 box-icons">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-arrow-up-right"></i>
                        <div class="ms-4">
                            <h3>Easy to use</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, ullam excepturi!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4 box-icons">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-arrow-up-right"></i>
                        <div class="ms-4">
                            <h3>For free</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, ullam excepturi!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4 box-icons">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-arrow-up-right"></i>
                        <div class="ms-4">
                            <h3>Wide market</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, ullam excepturi!
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}