<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce</title>

    <!-- Css -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Bootstarp css -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstarp icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Fontawesome -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Fuentes -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a href="#" class="navbar-brand"><span>eCommerce</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-start" aria-controls="navbar-start" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-start">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Store</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Seller Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!-- Content -->
     <section id="product-detail">

        <div class="container">
            <div class="row product">

                <div class="col-12 col-md-6 col-lg-6 product-img">
                    <img src="img/ej.jpeg" alt="product">
                </div>
                <div class="col-12 col-md-6 col-lg-6 card-per">
                    <div class="card   border-0 px-2 py-3 mb-4">
                        <h3 class="title card-title">{Product}</h3>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quaerat quasi ratione ipsum tenetur nobis aliquam numquam sed cumque possimus quas impedit sequi doloribus adipisci, expedita a aperiam illo alias!</p>
                            <p class="price"><b>$ 999</b></p>
                            <a href="#" class="btn btn-primary form-control">Buy</a>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>

        

        <div class="container">
            <div class="row profile">
                <hr>
               <div class="col-12 col-md-2 col-lg-2  text-center img">
                   <img src="img/ej.jpeg" alt="" class="rounded-circle">
                   <a href="#" class="user-redirect"><h4>@username</h4></a>
                   <a href="#"><h6>Platinum seller</h6></a>
               </div>
               <div class="col-12 col-md-10 col-lg-10 ">
                   <div class="container">
                       <div class="row">
                           <div class="col-12 col-md-6 col-lg-6 text-center contact">
                               <h5>Contact</h5>
                               <ul>
                                   <li><h6>example@mail.com</h6></li>
                                   <li><h6>+54 9 351 531-2196</h6></li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
           </div> 
           <hr>
       </div>
        

     </section>

   <!-- Footer -->
    <footer class="bg-dark p-2 text-center footer-per">
        <div class="container">
            <p class="text-white">Todos los derechos reservados </p>
        </div>
    </footer>


    <!-- Bootstarp js -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>