{% extends 'core/base.html' %}

{% block content %}
    <!-- Content -->
     <section id="auth">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center title-cont">
                    <h3 class="title">Sell</h3>
                    <hr>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <form  class="form-control" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12">
                                    {{form.title}}
                                    {{form.description}}                              
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    {{form.price}}
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    {{form.state}}
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    {{form.image}}
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="form-control btn btn-primary" value="Publish">
                        <ul class="errorlist">
                            {% if form.non_field_errors %}
                                <li>{{ form.non_field_errors }}</li>
                            {% endif %}
                            {% for field in form %}
                                {% if field.errors %}
                                <li>
                                    {{ field.label }}
                                    <ul class="errorlist">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </form>
                </div>
            </div>
        </div>

     </section>
{% endblock %}
